<article class="faqItem">

    <div class="faqItem__pregunta" (click)="toggleAnswer()">
        <h5>{{ question }}</h5>
        <button><svg class="mas" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 256" focusable="false"
                color="var(--token-de15d35a-3cb5-4526-a25b-758291f3dd3b, rgb(115, 115, 115))"
                style="user-select: none; width: 100%; height: 100%; display: inline-block; fill: var(--token-de15d35a-3cb5-4526-a25b-758291f3dd3b, rgb(115, 115, 115)); color: var(--token-de15d35a-3cb5-4526-a25b-758291f3dd3b, rgb(115, 115, 115)); flex-shrink: 0;">
                <g color="var(--token-de15d35a-3cb5-4526-a25b-758291f3dd3b, rgb(115, 115, 115))" weight="regular">
                    <path
                        d="M224,128a8,8,0,0,1-8,8H136v80a8,8,0,0,1-16,0V136H40a8,8,0,0,1,0-16h80V40a8,8,0,0,1,16,0v80h80A8,8,0,0,1,224,128Z">
                    </path>
                </g>
            </svg>
        </button>
    </div>

    @if (showAnswer) {
    <div class="faqItem__respuesta">
        <p>{{ answer }}</p>
    </div>
    }
</article>