<div class="contenedorJoin">
    <a role="button" href="#" class="contenedorJoin-join">Join · $15/mo</a>
    <div class="contenedorJoin-contenedorPersonas">
        <img src="https://framerusercontent.com/images/L2noAx60dx3u4IBZQFr7lC8O0.jpg" alt="person"
            class="contenedorJoin-contenedorPersonas-persona">
        <img src="https://framerusercontent.com/images/IQKddGGUVKfESbTRhHhxUrBqwQ.jpg?scale-down-to=512"
            alt="person" class="contenedorJoin-contenedorPersonas-persona">
        <img src="https://framerusercontent.com/images/gcAch1kgfuUrHoyWvoCLpvoOU3k.jpg?scale-down-to=1024"
            alt="person" class="contenedorJoin-contenedorPersonas-persona">
    </div>
    <p class="contenedorJoin-miembros">5000+ JOINED</p>
</div>
