<section class="introduccion" aria-labelledby="Join a global community of top design talent"
    aria-describedby="just wants to accelerate your career? 10X Designers is the community for you.">

    <div class="introduccion__contenedor">
        <a role="button" href="#">
            <img
                src="https://api.producthunt.com/widgets/embed-image/v1/top-post-topic-badge.svg?post_id=401783&theme=light&period=monthly&topic_id=204"
                alt="#1 product of the month" class="introduccion__imagen-producto">
        </a>

        <h1>Join a global community <br> of top design talent.</h1>
        <p class="introduccion__contenido">
            Are you a designer who's looking for an extra pair of eyes on your
            <br> work, higher quality feedback on your designs, or just wants to
            <br>accelerate your career? 10X Designers is the community for you.
        </p>

        <app-join></app-join>
    </div>

    <article class="introduccion__empresas" aria-labelledby="companies">
        <h5>Trusted by thousands of designers from top companies</h5>
        <app-list-empresas [images]="imageList"></app-list-empresas>
    </article>

</section>
